<nav class="navbar navbar-expand-lg navbar-light" style="background-color: whitesmoke;">
    <ul class="nav navbar-nav navbar-center container">
        <li><a class="nav-link" [routerLink]="['/']"><img src='../assets/logo.png' height = '100' width = '100'  alt='logo'></a></li>
        <li><a class="nav-link" [routerLink]="['/bookview']">BOOKS</a></li>
        <li><a class="nav-link" [routerLink]="['/supplyview']">SUPPLY</a></li>
        <li><a class="nav-link" [routerLink]="['/authorview']">AUTHORS</a></li>
        <li><a class="nav-link" [routerLink]="['/publisherview']">PUBLISHERS</a></li>
        <li><a class="nav-link" href="">CUSTOMERS</a></li>
    </ul>
</nav> 
<br>
<br>
<h3><a [routerLink]="['/bookview']" style="color: #68C2E8;"><i class="fa fa-arrow-left"></i></a>&nbsp;
    Add Book</h3>
<br>
<form (ngSubmit)="SetAuthorCount(authorCount)" *ngIf="registerView == 'regView1'">
    <div class="jumbotron">
        <div class="row">
            <div class="col col-10">

                <legend>How many Authors does your new book have?</legend>
                <div class="row">
                    <div class="col col-6">
                        <input type="text" class="form-control" [(ngModel)]="authorCount" name="authorCount" placeholder="" />
                    </div>         
                </div>    
                <br>
                
            </div>
        </div>
        <button class="btn btn-success" type="submit"><i class="fa fa-arrow-right"></i>&nbsp; Continue</button>
    </div>
</form>

<form (ngSubmit)="AddBook(book)" *ngIf="registerView == 'regView2'">
    <div class="jumbotron">
        <div class="row">
            <div class="col col-6">

                <div class="row">
                    <div class="col col-4">
                        <legend>Name:</legend>
                    </div>
                    <div class="col col-10">
                        <input type="text" class="form-control" [(ngModel)]="book.ItemName" name="ItemName" placeholder="Book Name" />
                    </div>
                </div>
                <br>

                <div class="row" *ngFor="authorid of authorsID; let i = index">
                    <div class="col col-4">
                        <legend>Author {{i+1}}</legend>
                    </div>
                    <div class="col col-6">
                        <select class="form-control" [(ngModel)]="authorsID[i]" name="authorsID[i]">
                            <option value="0" disabled selected>&lt;Choose an Author&gt;</option>
                            <option *ngFor="let author of authors" [(ngValue)]="author.AuthorID" >{{author.FirstName}} {{author.LastName}}</option>
                         </select>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col col-4">
                        <legend>Publisher</legend>
                    </div>
                    <div class="col col-6">
                        <select class="form-control" [(ngModel)]="publisherID" name="publisherID">
                            <option value="0" disabled selected>&lt;Choose a Publisher&gt;</option>
                            <option *ngFor="let publisher of publishers" [(ngValue)]="publisher.PublisherID" >{{publisher.Name}}</option>
                         </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-4">
                        <legend>ISBN 13</legend>
                    </div>
                    <div class="col col-6">
                        <input type="text" class="form-control" [(ngModel)]="book.ISBN13" name="ISBN13" placeholder="ISBN 13" />
                    </div> 
                </div>

                <div class="row">
                    <div class="col col-4">
                        <legend>ISBN 10</legend>
                    </div>
                    <div class="col col-6">
                        <input type="text" class="form-control" [(ngModel)]="book.ISBN10" name="ISBN10" placeholder="ISBN 10" />
                    </div>  
                </div>

                <div class="row">
                    <div class="col col-4">
                        <legend>Cost</legend>
                    </div>
                    <div class="col col-6">
                        <input type="text" class="form-control" [(ngModel)]="book.Cost" name="Cost" placeholder="cost $" />
                    </div>  
                </div>

                <div class="row">
                    <div class="col col-4">
                        <legend>Quantity</legend>
                    </div>
                    <div class="col col-6">
                        <input type="text" class="form-control" [(ngModel)]="book.Quantity" name="Quantity" placeholder="Quantity" />
                    </div> 
                </div>

                <div class="row">
                    <div class="col col-4">
                        <legend>Date Published</legend>
                    </div>
                    <div class="col col-6">
                        <input type="date" class="form-control" [(ngModel)]="datePublished" name="datePublished" placeholder="Date Published" />
                    </div> 
                </div>
                <br>
            </div>
        </div>
        <button class="btn btn-success" type="submit"><i class="fa fa-save"></i>&nbsp; Add</button>
    </div>
</form>