

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: whitesmoke;">
        <ul class="nav navbar-nav navbar-center container">
            <li><a class="nav-link" href=""><img src='../assets/logo.png' height = '100' width = '100'  alt='logo'></a></li>
            <li><a class="nav-link" href="books">SEARCH BOOKS</a></li>
            <li><a class="nav-link" href="managebooks">MANAGE BOOKS</a></li>
            <li><a class="nav-link" href="rentpurchase">RENT/ PURCHASE</a></li>
            <li><a class="nav-link" href="manageauthorpublishers">AUTHOR/ PUBLISHERS</a></li>
            <li><a class="nav-link" href="manageemployees">EMPLOYEES</a></li>
            <li><a class="nav-link" href="help">HELP</a></li>
        </ul>
    </nav>  
<div class="container">
    <br>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong><i class="fa fa-exclamation-circle"></i>&nbsp;COVID-19</strong> <br>
            Due to the COVID-19 pandemic, The Pupils Corner will be closed through Sunday, April 5, 2020 due to public health concerns over the COVID-19 virus. 
            The library operations are being conducted remotely, so please call before coming to library. Events have been postponed or canceled. 
            <hr>
            For more information on COVID-19, please visit <a href="http://cdc.gov">http://cdc.gov</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <br>

    <div>
        <router-outlet></router-outlet>
    </div>

</div>

