<nav class="navbar navbar-expand-lg navbar-light" style="background-color: whitesmoke;">
    <ul class="nav navbar-nav navbar-center container">
        <li><a class="nav-link" [routerLink]="['/']"><img src='../assets/logo.png' height = '100' width = '100'  alt='logo'></a></li>
        <li><a class="nav-link" href="">BOOKS</a></li>
        <li><a class="nav-link" href="">SUPPLY</a></li>
        <li><a class="nav-link" [routerLink]="['/authorview']">AUTHORS</a></li>
        <li><a class="nav-link" href="">PUBLISHERS</a></li>
        <li><a class="nav-link" href="">CUSTOMERS</a></li>
    </ul>
</nav> 
<br>
<br>
<h3><a [routerLink]="['/authorview']" style="color: #68C2E8;"><i class="fa fa-arrow-left"></i></a>&nbsp;
    Add Author</h3>
<br>
<form (ngSubmit)="AddAuthor(author)">
<div class="jumbotron">
    <div class="row">
        <div class="col col-6">
            <legend>Full Name:</legend>
            <div class="row">
                <div class="col col-6">
                    <input type="text" class="form-control" [(ngModel)]="author.FirstName" name="FirstName" placeholder="First Name" />
                </div>
                <div class="col col-6">
                    <input type="text" class="form-control" [(ngModel)]="author.LastName" name="LastName" placeholder="Last Name"  />
                </div>            
            </div>               
        </div>
    </div>
    <button class="btn btn-success" type="submit"><i class="fa fa-save"></i>&nbsp; Add</button>
</div>
</form>
