<nav class="navbar navbar-expand-lg navbar-light" style="background-color: whitesmoke;">
    <ul class="nav navbar-nav navbar-center container">
        <li><a class="nav-link" [routerLink]="['/']"><img src='../assets/logo.png' height = '100' width = '100'  alt='logo'></a></li>
        <li><a class="nav-link" href="">BOOKS</a></li>
        <li><a class="nav-link" href="">SUPPLY</a></li>
        <li><a class="nav-link" [routerLink]="['/authorview']">AUTHORS</a></li>
        <li><a class="nav-link" [routerLink]="['/publisherview']">PUBLISHERS</a></li>
        <li><a class="nav-link" href="">CUSTOMERS</a></li>
    </ul>
</nav> 
<br>
<br>
<h3><a [routerLink]="['/employee']" style="color: #68C2E8;"><i class="fa fa-arrow-left"></i></a>&nbsp;
    Publishers</h3>
<br>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>Publisher Name</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Phone Number</th>
        </tr>
        <tr *ngFor="let publisher of publishers">
            <td><button class="btn btn-link" (click)="sendPublisherID(publisher.PublisherID)">{{publisher.Name}}</button></td>
            <td>{{publisher.Street}}</td>
            <td>{{publisher.City}}</td>
            <td>{{publisher.State}}</td>
            <td>{{publisher.Country}}</td>
            <td>{{publisher.PhoneNumber}}</td>
        </tr>
    </table>
</div>
<br>
<button type="button" class="btn btn-primary" [routerLink]="['/publisheradd']"><i class="fa fa-plus"></i>&nbsp;Add Publisher</button>