<nav class="navbar navbar-expand-lg navbar-light" style="background-color: whitesmoke;">
    <ul class="nav navbar-nav navbar-center container">
        <li><a class="nav-link" [routerLink]="['/']"><img src='../assets/logo.png' height = '100' width = '100'  alt='logo'></a></li>
        <li><a class="nav-link" [routerLink]="['/books']">BOOKS</a></li>
        <li><a class="nav-link" [routerLink]="['/supply']">OFFICE SUPPLY</a></li>
        <li><a class="nav-link" [routerLink]="['/bookfavorite']">FAVORITE</a></li>
        <li><a class="nav-link" href="">PURCHASE</a></li>
        <li><a class="nav-link" href="">RENTAL</a></li>
        <li><a class="nav-link" href="">HELP</a></li>
    </ul>
</nav> 
<br>
<h3><a [routerLink]="['/user']" style="color: #68C2E8;"><i class="fa fa-arrow-left"></i></a>&nbsp;
    Search Books</h3>
<br>

<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
    </div>
    <input type="text" class="form-control search" [(ngModel)]="searchText" 
           placeholder="Start searching by Book Name, Author, Publisher or ISBN" autocomplete="off">
  </div>

<br>
<div class="table-responsive">  
    <table class="table">
        <tr>
            <th>Item Id</th> 
            <th>Item Name</th>
            <th>ISBN-13</th>
            <th>ISBN-10</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Cost</th>
        </tr>
        <tr *ngFor="let book of books | filter:searchText">
            <td>{{book.ItemId}}</td>
            <td>{{book.ItemName}}</td>
            <td>{{book.ISBN13}}</td>
            <td>{{book.ISBN10}}</td>
            <td>{{book.Author}}</td>
            <td>{{book.Name}}</td>
            <td>${{book.Cost}}</td>
        </tr>
    </table>
    <hr>
</div>
<br>
<div>
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-primary" [routerLink]="['/bookfavorite']">Favorite a Book</button>
            &nbsp;
            <button class="btn btn-info" [routerLink]="['/bookrental']">Rent a Book</button>
            &nbsp;
            <button class="btn btn-success" [routerLink]="['/bookpurchase']">Purchase a Book</button>
        </div>
    </div>
</div>